body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
}

.wheel {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  z-index: 1;
  rotate: 90deg;
}

.line {
  width: 2px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transform-origin: bottom;
  position: absolute;
  left: 50%;
  bottom: 50%;
  animation: spin 1s infinite linear;
  z-index: 2;
}

.target {
  position: relative;
  width: 15px;
  height: 60px;
  border: none; /* Adjust border radius as needed */
  rotate: 130deg;
  z-index: 1;
  border-style: none;
  background-color: green;
}
